.navBarContainer {
	width: 100%;
	min-width: 600px;
	height: 100px;
	background: #c3bffb;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: row;
	padding: 8px;
	border-radius: 15px;
	margin-top: -300px;
}

.linksContainer {
	width: 40%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	gap: 2%;

	> a {
		background: black;
		padding: 8px;
		border-radius: 10px;
		color: white;

		&:hover {
			transform: scale(1.1);
		}
	}
}

.logout {
	padding: 6px;
	background: #ff5353;
	height: 40%;

	&:hover {
		transform: scale(1.1);
	}
}
