.container {
	background: #e1e1e1;
	padding: 3%;
	border-radius: 8px;
	display: flex;
	color: black;
	align-items: center;
	flex-direction: row;
	min-height: 20px;
	margin: 2% 0;
}

.text {
	font-size: 14pt;
	margin: 1%;
}

.input {
	border-radius: 8px;
	padding: 2%;
}
