.container {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.cardsContainer {
	display: flex;
	flex-flow: row wrap;
	gap: 10px;
	justify-content: center;
}

.card {
	background: white;
	color: black;
	padding: 1%;
	border-radius: 25px;
	min-width: 200px;
}

.cardEditBar {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.redButton {
	background: red;
}
.div {
	display: flex;
	justify-content: space-between;
	gap: 5%;
	height: 30px;
	align-items: center;
	margin-bottom: 5px;

	> input {
		border-radius: 8px;
	}
}
.modal {
	width: 70%;
	display: flex;
	height: max-content;
	flex-direction: column;
	align-items: center;
	background: white;
	color: black;
	font-size: 14pt;
	border-radius: 16px;
}
