.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: space-between;
	padding: 15px;
}

.cardsContainer {
	display: flex;
	flex-flow: column;
	gap: 5px;
	justify-content: center;
	margin-top: 15px;
	background: rgba(0, 7, 45, 0.263);
	border-radius: 5px;
}

.card {
	color: rgb(237, 228, 255);
	min-width: 3px;
	// padding-left: 25%;
	// padding-right: 25%;
	padding-bottom: 1%;
}

.cardEditBar {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.redButton {
	background: red;
	width: 145px;
}
.line {
	color: black;
	border: 1.5px solid;
}
