.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: space-between;
	padding: 15px;
}

.cardsContainer {
	display: flex;
	flex-flow: column;
	gap: 10px;
	justify-content: center;
	margin-top: 15px;
	background: white;
	border-radius: 15px;
}

.card {
	color: black;
	min-width: 2px;
	padding-left: 25%;
	padding-right: 25%;
	padding-bottom: 3%;
}

.cardEditBar {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.redButton {
	background: red;
}
